
.contenedorHome{
    width: 100%;
    margin: 0 auto;
    background-color: #18BC9C;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 5px;
}

.contenedorHome img{
    width: 100px;
}

.contenedorHome h2{
    font-size: 67px;
}

.lineaIcono{
    width: 130px;
    height: 8px;
    background-color: #fff;
    display: inline-block;
}